.wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  line-height: 1.5rem;
  h1,
  h2,
  p {
    margin: 0;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-weight: 400;
  }
}

.form {
  margin-top: 1rem;
  width: 100%;
}

.button {
  background-color: #009e35;
  color: white;
}

.InputNumber{
  margin-left: 20px;
  padding-left: 10px;
  width: 250 px;
  
}